.intro {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200rem;
  background-color: mat-color($primary);
}

.intro__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 75rem;
  & .intro__feedback-cluster {
    & .intro__cluster {
      height: 28em;
    }
  }
  & .intro__text {
    display: flex;
    flex-direction: column;
    width: 38rem;
    margin: 5rem 0 0 auto;
    & .intro__headline {
      opacity: .87;
      line-height: 56px;
      font-size: 48px;
      font-weight: 500;
      color: $brand--color;
    }
    & .intro__description {
      font-size: 28px;
      line-height: 33px;
      & .intro__desc--opacity {
        opacity: .54;
      }
      & .intro__title--color {
        opacity: .87;
        color: $brand--color;
        font-weight: 500;
      }
    }
  }
}
