<section>
  <div class="feedback-cluster">
    <img src="../../assets/landing-page/feedback-cluster.svg" alt="grape cluster feedback illustration" class="cluster">
  </div>

  <div class="text-intro mat-typography">
    <h1 class="headline">
      Anonymous, secure
      <br>feedback in the workplace
    </h1>
    <p class="desc">
      <span class="desc--logo">Grapevines</span>
      <span class="desc--opacity">
        helps prevent a toxic culture with a simple, efficient interface where employees submit anonymous feedback while feeling
        confident and secure.
      </span>
    </p>
  </div>
</section>
