@import 'theming';
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: mat-color($primary);
}

.reg__title {
  margin: 0;
  opacity: .87;
}

.reg__subtitle {
  opacity: .54;
}

.reg__form-group {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20rem;
}

.reg__field {
  width: 100%;
}

.reg__submit-button {
  margin-top: 0.5rem;
}

.reg__join-link {
  color: mat-color($accent, darker);
  opacity: .54;
  cursor: pointer;
  margin-top: 1rem;
}

.reg__join-link--color {
  opacity: .87;
}
