<h1 class="mat-display-1 reg__title">Create your grapevine for free</h1>
<h2 class="reg__subtitle">Make your work environment feel {{ workplaceAdjective }}</h2>

<form class="reg__form-group" [formGroup]="registerForm">
  <mat-form-field color="accent" class="reg__field">
    <input matInput placeholder="Email" formControlName="email">
    <mat-hint *ngIf="registerForm.controls['email'].valid">We'll send you a confirmation email</mat-hint>
    <mat-error *ngIf="!registerForm.controls['email'].valid">{{ getEmailError() }}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent" class="reg__field ">
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="!registerForm.controls['password'].valid">{{ getPasswordError() }}</mat-error>
  </mat-form-field>

  <button mat-raised-button type="submit" color="accent" class="reg__submit-button" [disabled]="!registerForm.valid">Continue</button>

  <p routerLink="/join" color="accent" class="reg__join-link" [class.reg__join-link--color]="!registerForm.valid">If you have a code, click here to join instead</p>
</form>
