.nav__row {
  margin: 0 auto;
  max-width: 80rem;
  & .nav__link-container {
    margin-left: auto;
  }
}

.nav__icon-container {
  &:hover {
    cursor: pointer;
  }
  & .nav__logo {
    width: 2.5rem;
    display: inline-block;
    margin: 0 auto;
  }
  & .nav__logo-text {
    line-height: 1.15;
    margin-bottom: 0.2rem;
  }
}
