<mat-toolbar color="primary" class="nav__container">
  <mat-toolbar-row class="nav__row">
    <div routerLink="/home" class="nav__icon-container">
      <h1 class="nav__logo-text ">Grapevines</h1>
    </div>

    <div class="nav__link-container">
      <button mat-button routerLink="/pricing">Pricing</button>
      <button mat-button routerLink="/learn-more">Learn more</button>
      <button mat-button routerLink="/library">Your library</button>
      <button routerLink="/portal" mat-raised-button color="accent">Sign in</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
