@import "theming";

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50rem;
}

mat-form-field {
  width: 15rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & mat-form-field:first-of-type {
    margin-right: 3rem;
  }
}

.submit-button {
  margin-top: 0.5rem;
}

.join-link {
  text-align: center;
  color: mat-color($accent, darker);
  opacity: 0.87;
  cursor: pointer;
  margin-top: 1rem;

  &-link--opacity {
    opacity: 0.3;
  }
}
