<section class="intro">
  <div class="intro__container">
    <div class="intro__feedback-cluster">
      <img src="../../assets/landing-page/feedback-cluster.svg" alt="grape cluster feedback illustration" class="intro__cluster">
    </div>

    <div class="intro__text mat-typography">
      <h1 class="intro__headline">
        Anonymous, secure
        <br>feedback in the workplace
      </h1>
      <p class="intro__description">
        <span class="intro__title--color">
          Grapevines
        </span>
        <span class="intro__desc--opacity">
          helps prevent a toxic culture with a simple, efficient interface where employees submit anonymous feedback while feeling
          confident and secure.
        </span>
      </p>
    </div>
  </div>
</section>
